body{
    background-color: #75e9e5; 
}
.original-text-section{
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
}
.text_area_1{
    border-radius: 10px;
    background-color: whitesmoke;
    border-color: #00a6a7;
}

.buttons-section{
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
}
.text_area_2{
    border: none;
    background-color: #75e9e5;
    font:13px Tahoma, cursive;
    width: 80%;
    line-height: 1.5;
    font-size: medium;
}
input{
    font-family: Shanti;
    line-height:1.5;
    font-size: 1.3em;
}
.submit-button-div{
    display: flex; 
    align-items: center;
    align-content: center;
    justify-content: center;
}
.summarize-button{
    background-color: #00a6a7;
    border: none;
    border-radius: 15px;
    color: white;
    padding: 10px 28px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
}
.summarize-button:hover{
    color: #00a6a7;
    background-color: white;
    border: 1.5px solid #00a6a7;
}
.summary-type-select{
    display: flex;
    align-content: center;
    justify-content: center;
    font-family: Shanti;
    font-size: 1.4em;
}
.summary-intro{
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
}
.summary-intro{
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
}
input{
    cursor: pointer;
}
marquee{
    font-family: 'Times New Roman';
}

.file_upload{
    /* opacity: 0; */
    position: relative;
    overflow: hidden;
}