<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <form method="POST" action="#">
        <input type="text" required name="text" placeholder="Enter text here..." value=result>
        <input type="submit">

    </form>
    <p>
        <h3>E de work oh {[result]} not [{result}]</h3>
    </p>
    <form method="GET">

    </form>


</body>
</html>