<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/summarize.css">
    <title>Summarize</title>
</head>

<body>
    <form method="POST">
        <div class="original-text-section">
                <textarea class="text_area_1" placeholder="Enter text for summary... " name="original_text" rows="25" cols="70" minlength="60">{{original_text}}</textarea>
        </div>
        <div class="summary-type-select">Select Summary type</div>
        <div class="buttons-section">
            <input type="radio" name="churn_level" id="short" value="0.3" required>
            <label for="short">Short</label>
            <input type="radio" name="churn_level" id="medium" value="0.5">
            <label for="medium">Medium</label>
            <input type="radio" name="churn_level" id="long" value="0.7">
            <label for="long">Long</label>
        </div>
        <br>
        <div class="submit-button-div">
            <input class="summarize-button" type="submit" value="Summarize">
        </div>
    </form>
    <br>
    <br>
    <div class="summary-intro">
        <textarea class = text_area_2 id="text_area_summary" readonly placeholder="Summary appears here...."  >{{final_summary}}</textarea>
    </div>


    <!-- This script handles auto adjusting summary textarea height...-->
    <script>
        const textarea = document.getElementById("text_area_summary");
        textarea.style.cssText = `height: ${textarea.scrollHeight}px; overflow-y:hidden`;

        textarea.addEventListener("input", function(){
            this.style.height = "auto";
            this.style.height = `${this.scrollHeight}px`;
        })
    </script>

</body>
</html>