<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/summarize.css">
    <title>Summarize</title>


</head>
<body>
    <form method="POST">


    <section class="parent">
    <div class = "div-1">
        <textarea placeholder="Enter text for summary... " name="original_text" rows="25" cols="70" minlength="30">{{original_text}}</textarea>
    </div>
    </section>

    <p>
        <center>Select Summary type</center>
        <br>
        <center>
            <input type="radio" name="churn_level" id="short" value="0.3" required>
            <label for="short">Short</label>
            <input type="radio" name="churn_level" id="medium" value="0.5">
            <label for="medium">Medium</label>
            <input type="radio" name="churn_level" id="long" value="0.7">
            <label for="long">Long</label>
            <br>
            <br>
            <input type="submit" value="Summarize">
        </center>
    </p>
    </form>

    <p>
        <!-- <p></p> -->
        <center>

            <h3>Summary appears Below.</h3>

            <h4>
            <textarea class = text_area_2 id="text_area_summary" readonly placeholder="Summary appears here...."  >{{final_summary}}</textarea>
            <!-- cols="60" rows= '30' -->
            <!-- cols="90" -->
            </h4>
        </center>
    </p>


    <!-- This script handles auro adjusting summary textarea height...-->
    <script>
        const textarea = document.getElementById("text_area_summary");
        textarea.style.cssText = `height: ${textarea.scrollHeight}px; overflow-y:hidden`;

        textarea.addEventListener("input", function(){
            this.style.height = "auto";
            this.style.height = `${this.scrollHeight}px`;
        })
    </script>

</body>
</html>