<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <style>

        .parent{
            display: flex;
            align-items: center;
            align-content: center;
            justify-content: center;
        }
        .div-1{
            align-items: center;
            align-content: center;
            justify-content: center;
            display: flex;
        }
    </style>

</head>
<body>
    <form method="POST" action="#">

    <section class="parent">
    <div class = "div-1">
        <textarea placeholder="Enter text for summary... " name="original_text" rows="20" cols="65">{{original}}</textarea>
    </div>
    </section>

    <p>
        <center><input type="submit" value="Summarize"></center>
    </p>
    </form>

    <p>
        <center><h2>Summary appears here....</h2></center>
        <h3>The topic of the body of text is "{{top}}"</h3>
        <p></p>
        <h4>{{final_summ}}</h4>
    </p>

    <h4>Original text here</h4>
    <textarea>{{original}}</textarea>
</body>
</html>